.createEventForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    .formControl{
        // width: 90%;
        margin: 0 0 1rem 0  ;
        &.dateRange{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;            
        }
    }
    textarea{
        resize : none;
        width:100%;
        min-height: 100px;
    }
}