.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section{
  margin: 1rem 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.createEventBox {
  display: flex;
  justify-content: flex-end;
  // button{
  //   margin-right: 1rem;
  // }
}
.overlay{
  padding: 1rem;
  margin: 1rem;
  button{
    display: flex;
    justify-content: flex-end;
  }
  h2{
    text-align: center;
  }
}